.grid {
  margin: 100 0 0;
  margin-left: 8px;
}

.buttons {
  margin-left: 540px;
}

@media (min-width: 1900px) {
  .grid {
    margin: 100 0 0;
    margin-left: 300px;
  }
  .buttons {
    margin-left: 800px;
  }
}
