.dropdown {
  margin: 15px 30px;
  box-sizing: border-box;
  display: block;
}
ul {
  list-style-type: none;
  margin-top: 8px;
  padding: 0;
  width: 150px;
  height: 50px;
  font-weight: 200;
  position: absolute;
  z-index: 1;
}
/* li a {
  color: white;
  text-decoration: none;
  white-space: nowrap;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
} */

li {
  padding: 6px 8px;
  text-align: left;
}

.drop-component :hover {
  background-color: #757575;
}

.box {
  background-color: #000000;
  height: 50px;
  vertical-align: middle;
}

/* .button {
  color: white;
  text-decoration: none;
  white-space: nowrap;
  font-size: 1.28rem;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-right: 300px;
} */

.title-box {
  white-space: nowrap;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  text-align: left;
}
