.DrawerToggleButton {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    margin-bottom: 1rem;
    width: 28px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-left: 10px;
    box-sizing: border-box;
}

.DrawerToggleButton:focus {
    outline: none;
}

.Line {
    width: 28px;
    height: 2px;
    background: white;
}

@media (min-width: 949px) {
    .DrawerToggleButton {
        display: none;
    }
}