

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000000;
    height: 60px;
}

img {
    height: 55px;
}

.toolbar_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
    margin-top: 0.7rem;
}

.toolbar_logo a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
}




@media (min-width: 769px) {
    .toolbar_toggle-button {
        display: none;
    }
}