.MainText {
    color: white;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    height: 800px;
    display: flex;
    align-items: center;
    font-weight: 300;
    justify-content: center;
}

.MainBody {
    margin: 0;
    text-align: center;
}

.Header {
    font-size: 5rem;
    margin-bottom: -1.5rem;
}